<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description" content="" />
        <meta name="author" content="Ari Hershowitz" />
        <!-- Bootstrap compatibility -->
        <title></title>
    <link rel="stylesheet" href="static/bower_components/bootstrap/dist/css/bootstrap.min.css" media="screen">
<link rel="stylesheet" href="static/css/packed.css">
    <link rel="stylesheet" href="static/css/app.css" media="screen"/>
<script type="text/javascript" src="static/js/packed.min.js"></script>
    </head>
    <body ng-app="ukleg" ng-cloak>
    {% raw %}
    <!-- Fixed navbar -->
    <span ng-controller="rootController">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation" >
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">UK LegQuery</a>
        </div><!--/.navbar-header -->
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Examples&#160;<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                  <li ng-repeat="example in examples" ng-click="setQuery(example)"  ng-attr-title="{{example.explanation}}"><a href="#">{{example.xpath}}</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Version:&#160;&#160;0.0.4</a></li>
          </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.navbar .container -->
  </div>
  <div class="container " style="padding-top: 48px;"  >
      <div style="margin-top: 30px" >
          <div class="row container" >
              <form ng-submit="sendXPathQuery(inputXPath)" class="form-horizontal" role="form">
                  <div class="form-group">
                      <label for="inputField1" class="col-sm-2 control-label">xPath to Retrieve</label>
                      <div class="col-sm-10">
                          <input ng-model="inputXPath" ng-change="getCombinedQuery()" type="text" class="form-control" id="inputField1" placeholder="Sample: //akn:section">
                      </div>
                  </div> 
                  <div class="form-group">
                      <label class="col-sm-2 control-label">Options:</label>
                      <div class="checkbox col-sm-2">
                          <label>
                              <input type="checkbox" ng-model="options.countResults" class="ng-pristine ng-valid"> Count Results Only</label>
                      </div>
                      <div class="col-sm-offset-2 col-sm-10">
                          <input type="number" id="howManyResultsInput" ng-model="options.howManyResults" min="1" max="1000" value="100" placeholder="100" class="ng-pristine ng-valid ng-valid-number ng-valid-max ng-valid-min"><label class="control-label">&#160;&#160;#&#160;Results</label></div>
                  </div>
                  <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                          <button type="submit" class="btn btn-success" >Submit</button>
                      </div>
                  </div>
              </form>
              <h4>xQuery to be submitted:</h4>
              <div>{{combinedQuery}}</div>
              <div ng-show="queryExplanation" ><label>Explanation:&#160;</label>{{queryExplanation}}</div>
          </div>
          <div class="row container" ng-hide="true">
              <form ng-submit="sendQuery(inputTextAreaModel)" class=form-horizontal" role="form">
                  <div class="form-group">
                      <label for="inputTextArea" class="col-sm-2 control-label">Advanced</label>
                      <div class="col-sm-8">
                          <textarea class="form-control" rows="3" id="inputTextArea" ng-model="inputTextAreaModel" placeholder="xQuery in FLOWR form" style="margin-left: -10px;"></textarea>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                          <button type="submit" class="btn btn-success" style="margin-top: 10px; margin-left: -10px;">Submit</button>
                      </div>
                  </div>
              </form>
          </div>
          <hr/>
          <h3 ng-show="xQueryResults">Results:</h3>
          <div ng-show="options.countResults && queryResults.xQueryResults">Number of Results:</div>
          <div xr-reader="" xmlsource="queryResults.xQueryResults" reader-name="xQueryResultsReader"></div>
          <div id="stringResults" ng-show="queryResults.xQueryResults"><pre>{{queryResults.xQueryResults}}</pre></div>
      </div>
      </div>
  </div>
  {% endraw %}
  </span>
</body>
<script type="text/javascript" src="static/js/xreader.js"></script>
<script type="text/javascript" src="static/js/app.js"></script>
</html>
